.slider{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.slider-content{
    margin: 5%;
    padding: 10%;
    width: 70%;
}
.slider-content h1 {
    font-size: 30px;
}
.slider-content p{
    margin: 25px 0;
    line-height: 24px;  
}
.btn {
    border: 1px solid #C10303;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
}